<li style='font-size: 12px; cursor:pointer' data-name='{{name.official}}'><img
    width='20px'
    src='{{flags.svg}}'
    alt=''
  />
  <span style='font-size: 20px' data-name='{{name.official}}'>{{name.official}}
    |</span>
  {{name.common}}
</li>