<li class="title" data-name="{{name.common}}">
    <img width="100px" src="{{flags.svg}}" alt="">  {{name.common}}</li>

<li>Capital: {{capital}}</li>
<li>Population: {{population}}</li>
<li>Languages: {{#with languages}}{{#each this}}<span class="languages">{{this}}</span>{{/each}}{{/with}}</li>